{% load static %}

<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>secret's birthday</title>

<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/style.css">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/custom-style.css">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/fonts/css/fontawesome-all.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="https://secret.secret.cf/static/mains/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://secret.secret.cf/static/mains/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://secret.secret.cf/static/mains/favicon/favicon-16x16.png">
<link rel="manifest" href="https://secret.secret.cf/static/mains/favicon/site.webmanifest">
<link rel="mask-icon" href="https://secret.secret.cf/static/mains/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body class="theme-light" data-highlight="highlight-red">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-auto-show header-fixed header-logo-center">
        <a href="https://secret.secret.cf/" class="header-title">secret's birthday</a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="https://secret.secret.cf/timeline/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper1.PNG" alt="내 사진" ><span>타임라인</span></a>
        <a href="https://secret.secret.cf/quiz/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper3.png" alt="내 사진" ><span>간단퀴즈</span></a>
        <a href="https://secret.secret.cf/" class="circle-nav active-nav"><i class="fa fa-home"></i><span>홈</span></a>
        <a href="https://secret.secret.cf/guestbook/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper2.png" alt="내 사진" ><span>방명록</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars" style="margin-top: 5px;"></i><span>메뉴</span></a>
    </div>

    <div class="page-title page-title-fixed">
        <a href="https://secret.secret.cf/"></a><h1>secret's birthday</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-width="280" data-menu-active="nav-welcome" data-menu-load="menu-main.html"></div>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div>


    <div class="page-content">

        <div class="card card-style" data-card-height="400">
            <video class="video" src="https://secret.secret.cf/static/_talkv_wsWDIQT9fa_Ivcyg1KAUA33Kak1DAUBx1_talkv_high.mov" autoplay muted loop playsinline></video>
            <div class="card-bottom pb-3 ps-3 ms-2">
                <h1 class="color-white font-30 line-height-xl">수현이가 태어난 지 </h1>
                    <div class="box">
                        <span class="number" id="elapsed-seconds">0</span>
                    </div>
                <br>
                <h4 class="color-white opacity-50">초가 흘러가는 중, 생일 축하해</h4>
            </div>
            <div class="bg-gradient"></div>
        </div>

        <div class="card card-full-left card-style">
            <div class="content">
                <div class="d-flex">
                    <div class="me-3">
                        <img width="120" src="https://secret.secret.cf/static/pepper1.PNG" alt="">
                    </div>
                    <div>
                        <p class="color-highlight font-600 mb-n1" style="color: #4ec7f3;">수현이 사진을 올려주세요!</p>
                        <h2 style="font-family: 'Jua', sans-serif;">타임라인</h2>
                        <p class="mt-2">
                            현재까지 총 <strong style="color: #4ec7f3;">{{timelines_cnt}}</strong>장의 사진
                        </p>
                        <a href="https://secret.secret.cf/timeline/"><button class="custom-btn btn-13" style="max-width:100%">고고씽</button></a>
                    </div>
                </div>

                <div class="divider mt-4"></div>

                <div class="d-flex">
                    <div class="me-3">
                        <img width="120" src="https://secret.secret.cf/static/pepper3.png" alt="">
                    </div>
                    <div>
                        <p class="color-highlight font-600 mb-n1">1등에게는 기프티콘 </p>
                        <h2>간단퀴즈</h2>
                        <p class="mt-2">
                            현재 <strong style="color: #4ec7f3;"> 1</strong>등: <strong style="color: #4ec7f3;"> @{{highest_score_person}}님</strong>
                        </p>
                        <a href="https://secret.secret.cf/quiz/"><button class="custom-btn btn-13" style="max-width:100%">고고씽</button></a>
                    </div>
                </div>
                <div class="divider mt-4"></div>

                <div class="d-flex">
                    <div class="me-3">
                        <img width="120" src="https://secret.secret.cf/static/pepper2.png" alt="">
                    </div>
                    <div>
                        <p class="color-highlight font-600 mb-n1">싸이월드 세대</p>
                        <h2>방명록</h2>
                        <p class="mt-2">
                            현재까지 총 <strong style="color: #4ec7f3;">{{guestbooks_count}}</strong>분이 작성
                        </p>
                        <a href="https://secret.secret.cf/guestbook/"><button class="custom-btn btn-13" style="max-width:100%">고고씽</button></a>
                    </div>
                </div>
                <div class="divider mt-4"></div>

                <div class="d-flex">
                    <div class="me-3">
                        <img width="120" src="https://secret.secret.cf/static/pepper4.png" alt="">
                    </div>
                    <div>
                        <p class="color-highlight font-600 mb-n1">수현이만 볼 수 있는</p>
                        <h2>수현이에게</h2>
                        <p class="mt-2">
                            <strong style="color: #FF847C;">편지</strong>와 우리의 <strong style="color: #E84A5F;">타임라인</strong>
                        </p>
                        <a href="https://secret.secret.cf/letter/"><button class="custom-btn btn-13" style="max-width:100%">고고씽</button></a>
                    </div>
                </div>

            </div>
        </div>

        <a href="#" data-toggle-theme>
            <div class="card card-style">
                <div class="d-flex pt-3 mt-1 mb-2 pb-2">
                    <div class="align-self-center">
                        <i class="color-icon-gray color-gray-dark font-30 icon-40 text-center fa fa-moon ms-3 show-on-theme-light"></i>
                        <i class="color-icon-yellow color-yellow-dark font-30 icon-40 text-center fa fa-sun ms-3 show-on-theme-dark"></i>
                    </div>
                    <div class="align-self-center">
                        <p class="ps-2 ms-1 color-highlight font-500 mb-n1 mt-n2">밤에 보신다면</p>
                        <h4 class="show-on-theme-light ps-2 ms-1 mb-0">눈 보호하기</h4>
                        <h4 class="show-on-theme-dark ps-2 ms-1 mb-0">밝은게 좋아요</h4>
                    </div>
                    <div class="ms-auto align-self-center mt-n2">
                        <div class="custom-control small-switch ios-switch me-3 mt-n2">
                            <input data-toggle-theme type="checkbox" class="ios-input" id="toggle-dark-home">
                            <label class="custom-control-label" for="toggle-dark-home"></label>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
    <!-- End of Page Content-->
    <!-- All Menus, Action Sheets, Modals, Notifications, Toasts, Snackbars get Placed outside the <div class="page-content"> -->


    <!-- Be sure this is on your main visiting page, for example, the index.html page-->
    <!-- Install Prompt for Android -->
    <div id="menu-install-pwa-android" class="menu menu-box-bottom rounded-m">
        <img class="mx-auto mt-4 rounded-m" src="https://secret.secret.cf/static/mains/app/icons/icon-128x128.png" alt="img" width="90">
        <h4 class="text-center mt-4 mb-2"> 방문해주셔서 감사합니다. </h4>
        <p class="text-center boxed-text-xl">
            아이폰12 프로 화면 크기에 최적화 되어있습니다.
        </p>
        <div class="boxed-text-l">
            <a href="#" class="pwa-install mx-auto btn btn-m font-600 bg-highlight">Add to Home Screen</a>
            <a href="#" class="pwa-dismiss close-menu btn-full mt-3 pt-2 text-center text-uppercase font-600 color-red-light font-12 pb-4 mb-3">둘러보기</a>
        </div>
    </div>

    <!-- Install instructions for iOS -->
    <div id="menu-install-pwa-ios" class="menu menu-box-bottom rounded-m">
        <div class="boxed-text-xl top-25">
            <img class="mx-auto mt-4 rounded-m" src="https://secret.secret.cf/static/mains/app/icons/icon-128x128.png" alt="img" width="90">
            <h4 class="text-center mt-4 mb-2"> 방문해주셔서 감사합니다. </h4>
            <p class="text-center ms-3 me-3">
                아이폰12 프로 화면 크기에 최적화 되어있습니다.
            </p>
            <a href="#" class="pwa-dismiss close-menu btn-full mt-3 text-center text-uppercase font-700 color-red-light opacity-90 font-110 pb-5">둘러보기</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/custom.js"></script>
<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/index-custom.js"></script>

</body>