    <div class="card rounded-0" data-card-height="150" style="opacity: 0.9;">
    <video class="background-video" autoplay muted loop playsinline>
        <source src="https://secret.secret.cf/static/_talkv_wtguepdMWs_yFfbX3WcPhlXnk5TvFqdxK_talkv_high.mov" type="video/mp4">
    </video>
    <!-- 여기에 내용 추가 -->
    <div class="card-top">
        <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times color-white"></i></a>
    </div>
    <div class="card-bottom">
        <a href="https://secret.secret.cf/"><h1 class="color-white ps-3 mb-n1 font-28">secret's birthday</h1></a>
        <p class="mb-2 ps-3 font-12 color-white opacity-50">생일축하해 수현아!</p>
    </div>
    <div class="bg-gradient"></div>
</div>
<div class="mt-4"></div>
<h6 class="menu-divider">고고씽</h6>
<div class="list-group list-custom-small list-menu">
    <a id="nav-welcome" href="https://secret.secret.cf/timeline/">
        <img style="width: 25px;" src="https://secret.secret.cf/static/pepper1.PNG" alt="내 사진" >
        <span>타임라인</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a id="nav-homepages" href="https://secret.secret.cf/quiz/">
        <img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper3.png" alt="내 사진" >
        <span>간단퀴즈</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a id="nav-components" href="https://secret.secret.cf/guestbook/">
        <img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper2.png" alt="내 사진" >
        <span>방명록</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a id="nav-pages" href="https://secret.secret.cf/letter/">
        <img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper4.png" alt="내 사진" >
        <span>수현이에게</span>
        <i class="fa fa-angle-right"></i>
    </a>
</div>

<div class="list-group list-custom-small list-menu">
    <a href="#" data-toggle-theme="" data-trigger-switch="switch-dark-mode">
        <img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper5.png" alt="내 사진" >
        <span>다크모드</span>
        <div class="custom-control small-switch ios-switch">
            <input data-toggle-theme type="checkbox" class="ios-input" id="toggle-dark-menu">
            <label class="custom-control-label" for="toggle-dark-menu"></label>
        </div>
    </a>
</div>
<h6 class="menu-divider mt-4">인스타그램</h6>
<div class="list-group list-custom-small list-menu">
    <a href="https://www.instagram.com/le.xury/" target="_blank">
        <img src="https://secret.secret.cf/static/secret-insta.jpg">
        <span style="font-size:15px;">le.xury</span>
        <i class="fa fa-angle-right"></i>
    </a>
</div>
<h6 class="menu-divider font-10 mt-4">Made with & by <i class="fa fa-heart color-red-dark pl-1 pr-1"></i> in <span class="copyright-year">2023</span></h6>
