{% load static %}

<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>secret's birthday</title>

<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/style.css">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/quiz-custom-style.css">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/styles/custom-style.css">

<link rel="apple-touch-icon" sizes="180x180" href="https://secret.secret.cf/static/mains/favicon/apple-touch-icon.png">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://secret.secret.cf/static/mains/fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="https://secret.secret.cf/static/mains/_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">

</head>

<body class="theme-light">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">secret's birthday</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="https://secret.secret.cf/timeline/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper1.PNG" alt="내 사진" ><span>타임라인</span></a>
        <a href="https://secret.secret.cf/quiz/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper3.png" alt="내 사진" ><span>간단퀴즈</span></a>
        <a href="https://secret.secret.cf/" class="circle-nav active-nav"><i class="fa fa-home"></i><span>홈</span></a>
        <a href="https://secret.secret.cf/guestbook/"><img style="margin-bottom: 5px; width: 25px;" src="https://secret.secret.cf/static/pepper2.png" alt="내 사진" ><span>방명록</span></a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left" style="margin-top: 5px;"><h5 style="margin-top: 5px;font-size:11px;">뒤로가기</h5></i></a>
    </div>

    <div class="page-title page-title-fixed">
        <h1>secret's birthday</h1>
        <a href="#" data-back-button class="header-icon header-icon-1"><i style="margin-right: 25px" class="fas fa-chevron-left"></i></a>
    </div>
    <div class="page-title-clear"></div>

    <div class="page-content">

        <div class="card card-style" style="height:150px;">
            <div id="container2">
              수현이의 퀴즈를
              <div id=flip>
                <div><div>맞추면</div></div>
                <div><div>5만원 상당의</div></div>
                <div><div>기프티콘을</div></div>
              </div>
              드립니다!
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이는 몇 년생일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="1q" value="1q-2a" id="1q-2a">
                    <label class="form-check-label" for="1q-2a">93년생</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="1q" value="1q-2b" id="1q-2b">
                    <label class="form-check-label" for="1q-2b">94년생</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="1q" value="1q-2c" id="1q-2c">
                    <label class="form-check-label" for="1q-2c">95년생</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="1q" value="1q-2d" id="1q-2d">
                    <label class="form-check-label" for="1q-2d">96년생</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이의 휴대폰은 무엇일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="2q" value="2q-2a" id="2q-2a">
                    <label class="form-check-label" for="2q-2a">iPhone 11 Pro</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="2q" value="2q-2b" id="2q-2b">
                    <label class="form-check-label" for="2q-2b">iPhone 12 Pro</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="2q" value="2q-2c" id="2q-2c">
                    <label class="form-check-label" for="2q-2c">iPhone 13 Pro</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="2q" value="2q-2d" id="2q-2d">
                    <label class="form-check-label" for="2q-2d">iPhone 14</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이의 Insta ID는 무엇일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="3q" value="3q-2a" id="3q-2a">
                    <label class="form-check-label" for="3q-2a">ie.xury</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="3q" value="3q-2b" id="3q-2b">
                    <label class="form-check-label" for="3q-2b">le.xury</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="3q" value="3q-2c" id="3q-2c">
                    <label class="form-check-label" for="3q-2c">1e.xury</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="3q" value="3q-2d" id="3q-2d">
                    <label class="form-check-label" for="3q-2d">i2.xury</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이의 MBTI는 무엇일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="4q" value="4q-2a" id="4q-2a">
                    <label class="form-check-label" for="4q-2a">ESTJ </label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="4q" value="4q-2b" id="4q-2b">
                    <label class="form-check-label" for="4q-2b">ISTJ</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="4q" value="4q-2c" id="4q-2c">
                    <label class="form-check-label" for="4q-2c">ISTP</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="4q" value="4q-2d" id="4q-2d">
                    <label class="form-check-label" for="4q-2d">ENFP</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이의 혈액형은 무엇일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="5q" value="5q-2a" id="5q-2a">
                    <label class="form-check-label" for="5q-2a">A</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="5q" value="5q-2b" id="5q-2b">
                    <label class="form-check-label" for="5q-2b">B</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="5q" value="5q-2c" id="5q-2c">
                    <label class="form-check-label" for="5q-2c">O</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="5q" value="5q-2d" id="5q-2d">
                    <label class="form-check-label" for="5q-2d">AB</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <h5>수현이의 강아지 이름은 무엇일까요?</h5>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="6q" value="6q-2a" id="6q-2a">
                    <label class="form-check-label" for="6q-2a">후추</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="6q" value="6q-2b" id="6q-2b">
                    <label class="form-check-label" for="6q-2b">콩이</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="6q" value="6q-2c" id="6q-2c">
                    <label class="form-check-label" for="6q-2c">하늘</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check mt-2">
                    <input class="form-check-input" type="radio" name="6q" value="6q-2d" id="6q-2d">
                    <label class="form-check-label" for="6q-2d">페퍼</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content mb-2">
                <h5>1등이신 분에게는 DM으로 5만원 상당의 기프티콘을 보내드릴게요.</h5>
                <p class="font-10 mt-n1 mb-0 pb-2">
                    동점자는 시간 기준, 이미 제출하신 분은 최초 점수만 기록됩니다.
                </p>
                <div class="input-style has-borders no-icon mb-4 mt-2">
                    <label class="color-highlight">인스타아이디</label>
                    <h3><input type="text" placeholder="인스타아이디" id="insta_name"></h3>
                    <span><i class="fa fa-chevron-down"></i></span>
                    <i class="fa fa-check disabled valid color-green-dark"></i>
                    <i class="fa fa-check disabled invalid color-red-dark"></i>
                    <form action="" id="myForm">
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-m btn-center-l rounded-s shadow-l text-uppercase font-900" style="width: 100%; background-color: #4ec7f3">제출하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content ends here-->

</div>

<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/custom.js"></script>

<script type="text/javascript" src="https://secret.secret.cf/static/mains/scripts/quiz-custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>