.box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.number {
    color: #23f7dd;
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: left;
    animation: count-up 1s linear infinite;
}

@keyframes count-up {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
 .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.first {
    width: 500px;
    height: 500px;
    background-color: #131313;
    display: flex;
    justify-content: center;
    position: relative;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}



/* 13 */
.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

body {
    font-family: 'Jua', sans-serif !important;
}

h1 {
    font-family: 'Jua', sans-serif !important;
}

h2 {
    font-family: 'Jua', sans-serif !important;
}

h3 {
    font-family: 'Jua', sans-serif !important;
}

h4 {
    font-family: 'Jua', sans-serif !important;
}

h5 {
    font-family: 'Jua', sans-serif !important;
}

p {
    font-family: 'Jua', sans-serif !important;
}

span {
    font-family: 'Jua', sans-serif !important;
}

button {
    font-family: 'Jua', sans-serif !important;
}

/* 15 */
.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}